.thoughtProcess {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
    padding-top: 0.5em; /* reduced padding */
    padding-bottom: 0.5em;
    max-height: 400px; /* limit height */
    overflow-y: auto; /* add scrollbar only when needed */
}

.tList {
    padding: 1em 1em 0 1em; /* reduced padding */
    display: inline-block;
    background: #e9e9e9;
}

.tListItem {
    list-style: none;
    margin: auto;
    margin-left: 1em; /* reduced margin */
    min-height: 2.5em; /* reduced height */
    border-left: 0.0625em solid #0075c9;
    padding: 0 0 1.25em 1.25em; /* reduced padding */
    position: relative;
}

.tListItem:last-child {
    border-left: 0;
}

.tListItem::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid #d1dbfa;
    border-radius: 500%;
    background: #0075c9;
    height: 20px;
    width: 20px;
}

.tStep {
    color: #0075c9;
    position: relative;
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

.tCodeBlock {
    max-height: 18.75em;
}

.tProp {
    background-color: #d7d7d7;
    color: #333232;
    font-size: 0.75em;
    padding: 0.1875em 0.625em;
    border-radius: 0.625em;
    margin-bottom: 0.5em;
}

.citationImg {
    height: 28.125rem;
    max-width: 100%;
    object-fit: contain;
}
