/* Ensure the html and body take up the full height */
html,
body {
    height: 95%;
    margin: 0;
    padding: 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    margin: 0; /* Remove top margin */
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: calc(100vh - 10rem);
    background: #1e1e1e;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 64rem;
    width: 100%;
    height: 100%;
}

.chatEmptyStateTitle {
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #f2f2f2;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: #f2f2f2;
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 64rem;
    max-width: 64.25rem;
    width: 100%;
    overflow-y: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    resize: none;
    min-width: 50vw;
}

.chatMessageGpt {
    margin-bottom: 1.25rem;
    max-width: 100%;
    display: flex;
}

.chatMessageGptMinWidth {
    max-width: 31.25rem;
    margin-bottom: 1.25rem;
}

.chatInput {
    position: sticky;
    bottom: 0.625rem;
    flex: 0 0 6.25rem;
    padding: 0rem;
    width: 100%;
    max-width: 45.25rem;
    background: #1e1e1e;
    border-radius: 1rem;
    min-height: 0rem;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.loadingLogo {
    font-size: 1.75rem;
}

.commandsContainer {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out the left and right groups */
    align-items: center; /* Align items vertically in the center */
}

.leftCommands {
    display: flex; /* Keep the left buttons in a row */
    gap: 0.625rem; /* Space between left buttons */
    padding-left: 0.9375rem; /* Add left padding for space */
}

.rightCommands {
    display: flex; /* Keep the right buttons in a row */
    gap: 0; /* Space between right buttons */
}

.commonButton {
    font-size: 1rem; /* Adjust to match your desired size */
    color: #f2f2f2; /* Set to the same color as the other buttons */
    background-color: #0078d4; /* Adjust to match your desired background color */
    border: none; /* Ensure no border if that’s the design */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    cursor: pointer;
    transition:
        background-color 0.2s,
        color 0.2s; /* Transition for hover effects */
}

.commandButtonPreview {
    margin-bottom: 1.25rem;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 0.5rem; /* Width of the vertical scrollbar */
    height: 0.5rem; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #000000; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #ffb300; /* Color of the scrollbar handle */
    border-radius: 0.25rem; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #0078d4; /* Color on hover */
}

::-webkit-scrollbar-corner {
    background: #000000; /* Color of the corner where both scrollbars meet */
}
