.answerContainer {
    padding: 1.25em;
    background: rgb(249, 249, 249);
    border-radius: 0.5em;
    box-shadow:
        0em 0.125em 0.25em rgba(0, 0, 0, 0.14),
        0em 0em 0.125em rgba(0, 0, 0, 0.12);
    outline: transparent solid 0.0625em;
    max-width: 100%;
}

.answerLogo {
    font-size: 1.75em;
}

.answerText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.answerText h1,
h2,
h2 {
    font-size: 1rem;
    font-weight: bold;
}

.answerText table {
    border-collapse: collapse;
}

.answerText td,
.answerText th {
    border: 1px solid;
    padding: 0.3125em;
}

.copyButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.copyButtonCopied {
    background: #0075c9;
}
.answerText code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #282a36;
    color: #f1fa8c;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 100%;
    border-radius: 3px;
    display: inline;
    white-space: pre-wrap; /* Wrap long lines */
    word-wrap: break-word; /* Break words if necessary */
}

.answerText pre {
    white-space: pre-wrap; /* Allow line breaks */
    word-wrap: break-word; /* Handle long lines */
    overflow-x: auto; /* Enable horizontal scrolling for long lines */
}

.selected {
    outline: 0.125em solid rgba(115, 118, 225, 1);
}

.citationLearnMore {
    margin-right: 0.3125em;
    font-weight: 600;
    line-height: 1.5em;
}

.citation {
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    border-radius: 0.25em;
    padding: 0em 0.5em;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration: none;
    cursor: pointer;
}

.citation:hover {
    text-decoration: underline;
}

.followupQuestionsList {
    margin-top: 0.625em;
}

.followupQuestionLearnMore {
    margin-right: 0.3125em;
    font-weight: 600;
    line-height: 1.5em;
}

.followupQuestion {
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    border-radius: 0.25em;
    padding: 0em 0.5em;
    background: #e8ebfa;
    color: black;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.supContainer {
    text-decoration: none;
    cursor: pointer;
}

.supContainer:hover {
    text-decoration: underline;
}

sup {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625em;
    font-weight: 600;
    vertical-align: top;
    top: -1;
    margin: 0em 0.125em;
    min-width: 0.875em;
    height: 0.875em;
    border-radius: 0.1875em;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration-color: transparent;
    outline: transparent solid 0.0625em;
    cursor: pointer;
}

.retryButton {
    width: fit-content;
}

@keyframes loading {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.loadingdots::after {
    content: "";
    animation: loading 1s infinite;
}
