.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 0.1875rem solid #0075c9; /* 3px */
    white-space: nowrap;
    margin: 0;
    animation:
        typing 5s steps(40, end),
        blink-caret 0.9s step-end infinite;
    font-size: 4.5rem;
}
.complete {
    border-right: none;
    border-right: 0.1875rem solid #0075c9; /* 3px */
    width: 100%;
    animation:
        pulse 1.8s infinite,
        fade-out 1s forwards;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 0.75rem rgba(0, 117, 201, 0.5); /* 12px */
    }
    50% {
        text-shadow: 0 0 1.5625rem rgba(0, 117, 201, 0.8); /* 25px */
    }
    100% {
        text-shadow: 0 0 0.75rem rgba(0, 117, 201, 0.5); /* 12px */
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #0075c9; /* Change this line */
    }
}

@keyframes fade-out {
    from {
        border-right-color: #0075c9;
    }
    to {
        border-right-color: transparent;
    }
}

.container {
    display: inline-block;
    padding: 10px;
}
